<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emt.shoppay.dao.mapper.EpayOrderDetailMapper">

    <!--2018-05-09-->
    <select id="Select" resultType="map" parameterType="java.util.HashMap" useCache="true" fetchSize="50">
        SELECT * FROM epay_oder_detail
          <where>
              1 = 1
              <if test="orderid != null and orderid != ''">
                 AND orderid = #{orderid}
              </if>
              <if test="payCompany != null and payCompany != ''">
                 AND payCompany = #{payCompany}
              </if>
              <if test="tranStat != null and tranStat != ''">
                 AND tranStat = #{tranStat}
              </if>

              <if test="IsPost != null">
                  AND IsPost = #{IsPost}
              </if>
              <if test="IsSend != null">
                  AND IsSend = #{IsSend}
              </if>
              <if test="Emt_sys_id != null and Emt_sys_id != ''">
                  AND Emt_sys_id = #{Emt_sys_id}
              </if>

          </where>
          ORDER BY tranStat, create_date desc
    </select>

    <update id="Update" parameterType="com.emt.shoppay.pojo.EpayOrderDetail">
        UPDATE epay_oder_detail
          <set>
              <if test="amount != null and amount != ''">
                  amount = #{amount},
              </if>
              <if test="clientType != null and clientType != ''">
                  clientType = #{clientType},
              </if>
              <if test="emt_sys_id != null and emt_sys_id != ''">
                  Emt_sys_id = #{emt_sys_id},
              </if>
              <if test="interfaceName != null and interfaceName != ''">
                  interfaceName = #{interfaceName},
              </if>
              <if test="interfaceVersion != null and interfaceVersion != ''">
                  interfaceVersion = #{interfaceVersion},
              </if>
              <if test="merURL != null and merURL != ''">
                  merURL = #{merURL},
              </if>
              <if test="merVAR != null and merVAR != ''">
                  merVAR = #{merVAR},
              </if>
              <if test="orderDate != null and orderDate != ''">
                  orderDate = #{orderDate},
              </if>
              <if test="tranData != null and tranData != ''">
                  tranData = #{tranData},
              </if>

              <if test="tranStat != null and tranStat != ''">
                  tranStat = #{tranStat},
              </if>

              <if test="tranSerialNo != null and tranSerialNo != ''">
                  TranSerialNo = #{tranSerialNo},
              </if>
              <if test="notifyDate != null and notifyDate != ''">
                  notifyDate = #{notifyDate},
              </if>

              <if test="notifyData != null and notifyData != ''">
                  notifyData = #{notifyData},
              </if>
              <if test="comment != null and comment != ''">
                  comment = #{comment},
              </if>
              <if test="createTime != null and createTime != ''">
                  Create_date = now(),
              </if>
              <if test="updateTime != null and updateTime != ''">
                  Update_date = now(),
              </if>


              <if test="IsPost != null and IsPost != ''">
                  IsPost = #{IsPost},
              </if>
              <if test="Times != null and Times != ''">
                  Times = #{Times},
              </if>
              <if test="IsSend != null and IsSend != ''">
                  IsSend = #{IsSend},
              </if>
          </set>
        WHERE orderid = #{orderid} AND payCompany = #{payCompany}
    </update>

    <insert id="Insert" parameterType="java.util.HashMap">
        INSERT INTO epay_oder_detail
          (amount,clientType,Emt_sys_id,interfaceName,interfaceVersion,merURL,merVAR,orderDate,orderid,payCompany,ResultUrl,Qid,shopCode,TranData,tranStat,comment,Create_date,Update_date)
        VALUES
          (#{amount},#{clientType},#{emt_sys_id},#{interfaceName},#{interfaceVersion},#{merURL},#{merVAR},#{orderDate},#{orderid},#{payCompany},#{resultUrl},#{qid},#{shopCode},#{tranData},#{tranStat},#{comment},now(),now())
    </insert>

    <select id="unPayList" resultType="map" parameterType="java.util.HashMap" useCache="true" fetchSize="50">
        select orderid from epay_oder_detail where Emt_sys_id=#{sysId} and TIMESTAMPDIFF(HOUR, Create_date, now()) &lt;=  #{hour} and tranStat != 1
    </select>

</mapper>
