<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emt.shoppay.dao.mapper.IEpayParaConfigMapper">

    <insert id="Insert" parameterType="java.util.HashMap">
      INSERT INTO epay_pay_configuration (type, payCompany, sysId, paraExtend, merId)
        VALUES
        (#{type},#{payCompany},#{sysId},#{paraExtend},#{merId})
    </insert>

    <delete id="Delete" parameterType="java.util.HashMap">
        DELETE  FROM epay_pay_configuration WHERE payCompany = #{payCompany} AND sysId=#{sysId} AND type = #{type}
    </delete>

    <update id="Update" parameterType="java.util.HashMap">
        UPDATE  epay_pay_configuration set paraExtend = #{paraExtend} where payCompany = #{payCompany} AND sysId=#{sysId} AND type = #{type}
    </update>

    <!--获取支付配置数据-->
    <select id="Select" resultType="map" parameterType="java.util.HashMap" useCache="true" fetchSize="50">
        SELECT * FROM epay_pay_configuration WHERE payCompany = #{payCompany} AND sysId=#{sysId} AND type = #{type}
    </select>

</mapper>
